@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: rgb(3, 3, 10);
    --cinza: rgb(116, 117, 123);
    --dourado: rgb(185, 125, 76);
    --beje: rgb(255, 229, 223);
    --branco: rgb(234, 234, 234);
    --fonte-titulo: "Playfair Display", serif;
    --fonte-texto: "Afacad Flux", sans-serif;
}

body{
    background-color: var(--branco);
    font-family: var(--fonte-texto);
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza)
}

.cabecalho-logo{
    width: 16%;
    border-radius: 100%;
    padding: 1em;
}

.cabecalho-link{
    text-decoration: none;
    color: var(--preto);
    font-size: 2em;
    margin-right: 1em;
}

.cabecalho-link:hover{
    color: var(--dourado);
    font-size: 1.9em;
    transition: 0.3s;
}

.principal-capa{
    background-color: var(--branco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
}

.principal-capa_titulo{
    font-size: 3em;
    font-family: var(--preto);
}
.principal-capa_texto{
    font-size: 2em;
}
.principal-capa_imagem{
    width: 40%;
    border-radius: 10px;
}

.principal-capa_combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal-capa_botao{
    background-color: var(--dourado);
    text-decoration-line: none;
    padding: 1.3em;
    color: var(--preto);
    margin-top: 2em;
    border-radius: 10px;
    font-size: 1.2em;
}